<ion-header [translucent]="true">
  <ion-toolbar> <!-- Mengubah warna toolbar menjadi gelap -->
    <ion-title class="ion-text-center">Cuaca Sekarang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div class="weather-container">
    <h1 class="temperature">{{ temp }} °C</h1>
    <ion-icon [name]="weatherIcon" class="weather-icon"></ion-icon>
    <h2 class="description">{{ weatherDescription }}</h2>
    <h3 class="city">{{ city }}</h3>
  </div>
</ion-content>
