<ion-header> 
  <ion-toolbar> 
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button> 
    </ion-buttons> 
    <ion-title>Weather forecast</ion-title> 
  </ion-toolbar> 
</ion-header> 

<ion-content [fullscreen]="true"> 
  <ion-header collapse="condense"> 
    <ion-toolbar> 
      <ion-title size="large">Weather forecast</ion-title> 
    </ion-toolbar> 
  </ion-header> 

  <div id="container"> 
    <h1 class="ion-60p">{{ weather.main.temp }} °C</h1> 
    <img src="{{ getWeatherIconUrl(weather.weather[0].icon) }}"/>
    <h1 class="ion-30p"> 
      {{ weather.weather[0].main }} <small>({{ weather.weather[0].description }})</small><br/> 
      <ion-icon name="calendar-outline"></ion-icon> 
      {{ weather.date | date:'dd MMM yyyy - HH:mm'}} 
    </h1> 
    <ion-button (click)="save()">Favorite</ion-button> 
  </div> 
</ion-content>
