/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "~weather-icons/css/weather-icons.min.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Light mode */
body {
    --ion-background-color: #000000;
      --ion-text-color: #ffffff;
  }
  
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    body {
      --ion-background-color: #000000;
      --ion-text-color: #ffffff;
    }
    
    ion-header, ion-toolbar, ion-title {
      --background: #222428;
      --color: #ffffff;
    }
  
    ion-card {
      --background: #333333;
      --color: #ffffff;
    }
  
    ion-card-header {
      --background: #444444;
      --color: #ffffff;
    }
  
    ion-card-content {
      --background: #333333;
      --color: #ffffff;
    }
  }